@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.contact .icons-container .icons i, .products .box-container .box .icons a, .header .search-form label, .header .icons div,
.header .icons a {
  color: #fff;
  cursor: pointer;
  -webkit-text-stroke: 0.1rem #1D1D1D;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #151c37;
}
html::-webkit-scrollbar-thumb {
  background: #c8102e;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: #1D1D1D;
  padding-bottom: 2rem;
  text-align: center;
}
.heading span {
  color: #c8102e;
}

.btn {
  position: absolute;
  left: 1300px;
  top: 370px;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 8rem;
  border-radius: 0.5rem;
  border: 2.5px solid #000;
  color: #1D1D1D;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  border: 2.5px solid #151c37;
  background: #151c37;
  color: #ecf3fe;
}

.btn-banner2 {
  position: absolute;
  left: 230px;
  top: 370px;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 8rem;
  border-radius: 0.5rem;
  border: 2.5px solid #000;
  color: #1D1D1D;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn-banner2:hover {
  border: 2.5px solid #151c37;
  background: #151c37;
  color: #ecf3fe;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2%;
  background: #151c37;
}
.header .nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.header .sneaker-logo {
  width: 40px;
  position: absolute;
  left: 400px;
  top: -3px;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.header .logo i {
  color: #fff;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #c8102e;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #fff;
}
.header .departments a {
  font-size: 1.7rem;
  color: #ecf3fe;
  margin: 0 1rem;
}
.header .departments a:hover {
  color: #fff;
}
.header .icons div,
.header .icons a {
  font-size: 2.5rem;
  margin-left: 2rem;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  width: 50rem;
  height: 5.5rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  color: #1D1D1D;
  padding: 0 1.2rem;
}
.header .search-form label {
  font-size: 2.2rem;
  margin-right: 1.7rem;
}

#menu-btn {
  display: none;
}

.home {
  padding: 0;
  padding-top: 7.6rem;
}
.home .home-slider .slide {
  position: relative;
  min-height: 65vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  padding-left: 7%;
  background-size: cover !important;
  background-position: center !important;
}
.home .home-slider .slide .content .nike-logo {
  position: absolute;
  left: 1340px;
  top: 200px;
}
.home .home-slider .slide .content .adidas-logo {
  position: absolute;
  left: 300px;
  top: 200px;
}
.home .home-slider .slide .content span {
  position: absolute;
  left: 100px;
  font-size: 2rem;
  color: #ecf3fe;
}
.home .home-slider .slide .content h3 {
  font-size: 6rem;
  color: #1D1D1D;
  padding-top: 0.5rem;
}
.home .swiper-button-next {
  top: 90%;
  right: 2rem;
}
.home .swiper-button-prev {
  top: 90%;
  right: 8rem;
  left: auto;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #1D1D1D;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #1D1D1D;
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.banner-container .card-style {
  background: no-repeat centre centre;
}
.banner-container .banner {
  flex: 1 1 42rem;
  overflow: hidden;
  height: 30rem;
  position: relative;
}
.banner-container .banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-container .banner:hover img {
  transform: scale(1.2);
}
.banner-container .banner .content-banner1 {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
.banner-container .banner .content-banner1 span {
  padding-left: 60px;
  font-size: 2rem;
  color: #ecf3fe;
}
.banner-container .banner .content-banner1 h3 {
  font-size: 3.2rem;
  color: #ecf3fe;
  padding-top: 0.5rem;
}
.banner-container .banner .content-banner2 {
  position: absolute;
  top: 50%;
  right: 5rem;
  transform: translateY(-50%);
}
.banner-container .banner .content-banner2 span {
  padding-left: 480px;
  font-size: 2rem;
  color: #1D1D1D;
  font-weight: bold;
}
.banner-container .banner .content-banner2 h3 {
  font-size: 3.2rem;
  color: #1D1D1D;
  padding-top: 20rem;
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
.products .filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.products .filter-buttons .buttons {
  font-size: 1.7rem;
  color: #1D1D1D;
  cursor: pointer;
}
.products .filter-buttons .buttons:hover, .products .filter-buttons .buttons.active {
  color: #c8102e;
}
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.products .box-container .box {
  width: 26rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.products .box-container .box.hide {
  display: none;
}
.products .box-container .box.active {
  animation: fadeUp 0.4s linear;
}
.products .box-container .box .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  height: 35rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0.5rem;
  transform: scale(0);
  z-index: 1;
}
.products .box-container .box .icons a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
}
.products .box-container .box:hover .icons {
  transform: scale(1);
}
.products .box-container .box .image {
  height: 35rem;
  width: 100%;
  overflow: hidden;
}
.products .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.products .box-container .box:hover .image img {
  transform: scale(1.1);
}
.products .box-container .box .content {
  padding: 1rem 1.5rem;
}
.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #1D1D1D;
  font-weight: normal;
}
.products .box-container .box .content .price {
  padding: 0.5rem 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.products .box-container .box .content .price .amount {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #1D1D1D;
}
.products .box-container .box .content .price .cut {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #151c37;
}
.products .box-container .box .content .price .offer {
  font-size: 2rem;
  color: #c8102e;
}
.products .box-container .box .content .stars {
  font-size: 1.7rem;
}
.products .box-container .box .content .stars i {
  color: gold;
}
.products .box-container .box .content .stars span {
  color: #ecf3fe;
}

.contact .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.contact .icons-container .icons {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.contact .icons-container .icons i {
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.contact .icons-container .icons h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #c8102e;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #1D1D1D;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.contact .row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #1D1D1D;
}
.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox input,
.contact .row form textarea {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #1D1D1D;
  text-transform: none;
  margin: 0.7rem 0;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}
.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.blogs .slide {
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.blogs .slide .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .slide:hover .image img {
  transform: scale(1.2);
}
.blogs .slide .content {
  padding: 2rem;
}
.blogs .slide .content h3 {
  font-size: 2.2rem;
  color: #1D1D1D;
}
.blogs .slide .content p {
  font-size: 1.4rem;
  color: #1D1D1D;
  line-height: 2;
  padding: 1rem 0;
}
.blogs .slide .content .icons {
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .slide .content .icons a {
  font-size: 1.4rem;
  color: #ecf3fe;
}
.blogs .slide .content .icons a i {
  padding-right: 0.5rem;
  color: #c8102e;
}
.blogs .slide .content .icons a:hover {
  color: #c8102e;
}

.footer {
  background: #151c37;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #ecf3fe;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ecf3fe;
  padding: 1rem 0;
  line-height: 2;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #ecf3fe;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #c8102e;
}
.footer .box-container .box a:hover {
  color: #c8102e;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .share {
  padding-top: 2rem;
  text-align: center;
}
.footer .share a {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: #1D1D1D;
  color: #fff;
  margin: 0.3rem;
}
.footer .share a:hover {
  background: #c8102e;
  transform: rotate(360deg);
}
.footer .cdecorativeit {
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #ecf3fe;
  font-size: 2rem;
}
.footer .cdecorativeit span {
  color: #c8102e;
}

.login-styles {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(4px);
  background: #ffffff;
}

.container,
.form__input,
.form__button {
  font: 500 1rem "Poppins", sans-serif;
}

.form__button {
  background-color: #009579;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(#4bb544);
}

.form__message--error {
  color: var(#cc3333);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(4px);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(#009579);
  background: #ffffff;
}

.form__input--error {
  color: var(#cc3333);
  border-color: var(#cc3333);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(#cc3333);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(4px);
  outline: none;
  cursor: pointer;
  background: var(#009579);
}

.form__button:hover {
  background: var(#007f67);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: var(#252c6a);
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }
  .header .departments {
    display: none;
  }
  .header #search-btn {
    display: none;
  }
  .header .fa-shopping-cart {
    display: none;
  }

  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }

  .header .search-form {
    width: 100%;
    top: 100%;
    border-radius: 0;
  }
  .header .search-form.active {
    right: 0;
  }

  .home .home-slider .slide {
    padding-left: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }

  .banner-container .banner .content {
    right: 2rem;
  }
  .banner-container .banner .content h3 {
    font-size: 2rem;
  }

  .products .box-container .box {
    width: 100%;
  }

  .deal .image img {
    width: 100%;
  }

  .deal .content {
    padding-top: 2rem;
    text-align: center;
  }

  .featudecorative .swiper-button-next,
.featudecorative .swiper-button-prev {
    display: none;
  }

  .blogs .swiper-button-next,
.blogs .swiper-button-prev {
    display: none;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
